body {
  background: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-weight: 600;
}

h1 {
  font-size: 4.5rem;
  line-height: 6.5rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-top: 12px;
}

h2 {
  font-size: 30px;
  letter-spacing: 6px;
  padding-bottom: 18px;
  text-transform: uppercase;
}

#trainer h2,
#newsletter h2,
#blog h2,
#price h2 {
  padding-bottom: 2px;
}

blockquote,
h3 {
  font-family: 'Lora', sans-serif;
  font-style: italic;
}

h3 {
  line-height: 36px;
}

h4 {
  color: #999;
  letter-spacing: 2px;
  margin-top: 22px;
}

p {
  color: #707070;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.4px;
}

a {
  text-decoration: none !important;
  outline: none;
}